<html>
  <head></head>
  <body>
    <p>
      <%= message %>
      <!-- The SECRET NUMBER is <%= number %> -->
    </p>
  </body>
</html>

<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>
